[submodule "overlay/root/..."]
	path = overlay/root/...
	url = git://github.com/ingydotnet/....git
[submodule "overlay/opt/keys"]
	path = overlay/opt/keys
	url = git://github.com/akerl/keys.git
[submodule "overlay/opt/scripts"]
	path = overlay/opt/scripts
	url = git://github.com/akerl/scripts.git
[submodule "kernels"]
	path = kernels
	url = git://github.com/akerl/kernels.git
