[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.io
After=netctl@bridge.service
Before=iptables.service

[Service]
ExecStart=/usr/bin/docker -d --iptables=false -b=docker0 -s devicemapper --storage-opt dm.datadev=/dev/dock0/docker --storage-opt dm.metadatadev=/dev/dock0/metadata
Restart=on-failure

[Install]
WantedBy=multi-user.target

