[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.io
After=netctl@bridge.service

[Service]
ExecStart=/usr/bin/docker -d --iptables=false -b=docker0
Restart=on-failure

[Install]
WantedBy=multi-user.target

