[Unit]
Description=Ensure pacman keys are generated
After=haveged.service
ConditionPathExists=|!/etc/pacman.d/gnupg/pubring.gpg

[Service]
ExecStart=/usr/local/bin/pacman-init
Type=oneshot
RemainAfterExit=yes

