[Unit]
Description=IPv6 Router Advertisement Daemon
After=systemd-networkd.service

[Service]
ExecStart=/usr/bin/radvd --nodaemon --logmethod=stderr

[Install]
WantedBy=multi-user.target

